@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap')
$font-stack:'Bebas Neue', cursive
$font-color: #FFFFFF

.home
    font-family: $font-stack
    color: $font-color
    height: 100vh
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    padding-top: 70px

.home-content
    display: flexbox
    justify-content: center
    align-items: center
    width: 600px

.profilepicture
    justify-content: center
    align-content: center
    height: 400px
    width: 400px
    margin-left: 100px

.profile
    height: 400px
    width: 400px


.text
    width: 600px
    text-align: center
    font-size: 30px
