@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap')
$font-stack:'Bebas Neue', cursive
$font-color: #FFFFFF

.skills
    height: 100vh
    width: 100%
    padding-top: 70px
    display: flex
    justify-content: center
    align-items: center

.skills-content
    margin-top: -140px
    font-family: $font-stack
    color: $font-color
    display: grid
    align-items: center
    justify-content: center
    font-size: 30px
    text-align: center

.skill-list
    width: 500px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    column-gap: 20px
    grid-row-gap: 20px 