@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap')
$font-stack:'Bebas Neue', cursive

.topbar
    position: fixed
    display: flex

.links
    margin-top: 20px
    margin-left: 20px
    display: flex
    justify-content: space-between
    width: 500px

.icons
    margin-top: 20px
    margin-left: 1000px
    display: flex
    width: 300px

.button
    background-color: transparent
    font-family: $font-stack
    font-size: 25px
    border: none

.github
    width: 40px
    height: 40px