@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500&display=swap')
$font-stack:'Bebas Neue', cursive
$font-color: #FFFFFF

.topbar
    position: fixed
    display: flex
    background-color: #1fc1c3
    width: 100vw
    top: 0
    justify-content: space-between
    align-items: center
    height: 70px

.links
    margin-left: 50px
    display: flex
    justify-content: space-between
    width: 400px
    height: 50px
    align-items: center

.icons
    margin-right: 100px
    display: flex
    width: 150px
    height: 50px
    align-items: center
    justify-content: space-between

.link
    text-decoration: none
    background-color: transparent
    font-family: $font-stack
    font-size: 25px
    border: none
    color: $font-color
    height: 30px

.link:hover
    background-color: #0a253b
    height: 35px
    font-size: 30px

.icon
    width: 40px
    height: 40px